body {
    font-size: .87rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    min-width: 400px;
}

[role="main"] {
    padding-top: 50px;
}

.flagShadow {
    max-width:160px;
    -webkit-filter: drop-shadow(5px 3px 5px #000);
    filter: drop-shadow(5px 3px 5px #000);
}

.flagShadow:hover {
    max-width:160px;
    -webkit-filter: drop-shadow(5px 3px 8px #000);
    filter: drop-shadow(5px 3px 8px #000);
}

.form-note {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: red;
}